<template>
    <div class="input-tag">
        <!-- TAGS -->
        <div class="tags-container">
            <div v-for="item in selected" class="tag" :key="item.name">
                {{ item.name }}
                <span @click="removeSelection(item)">&#10799;</span>
            </div>
        </div>
        <!-- INPUT -->
        <div class="input-container">
            <input
                type="text"
                v-bind="$attrs"
                v-model="inputVal"
                @focus="inputFocus = true"
                @blur="inputFocus = false"
            />
        </div>
        <!-- DROPDOWN -->
        <div
            class="dropdown"
            tabindex="0"
            v-show="focus"
            @focus="dropdownFocus = true"
            @blur="dropdownFocus = false"
        >
            <div
                class="dropdown-item"
                v-for="item in availableOptions"
                @click="select(item)" :key="item.name"
            >
                {{ item.name }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "inputtag",
    props: {
        options: {
            type: Array,
            default: () => [],
        },
        value: {
            type: Array,
            default: () => [],
        },
    },
    data() {
        return {
            selected: this.value,
            inputFocus: false,
            dropdownFocus: false,
            inputVal: "",
        };
    },
    methods: {
        select: function(item) {
            this.selected.push(item);
        },
        removeSelection: function(item) {
            this.selected = this.selected.filter((e) => e !== item);
        },
    },
    computed: {
        availableOptions: function() {
            //ES7 might be problem for some browsers
            let returnArr = [];
            for (let item of this.options) {
                if (!this.selected.includes(item)) {
                    returnArr.push(item);
                }
            }
            if (this.inputVal === "") {
                return returnArr;
            } else {
                return returnArr.filter(
                    (el) =>
                        el.name
                            .toLowerCase()
                            .indexOf(this.inputVal.toLowerCase()) > -1
                );
            }
        },
        focus: function(val) {
            let focus = false;

            focus = this.inputFocus || this.dropdownFocus;

            return focus;
        },
    },
    watch: {
        /**
         * When v-model is changed:
         *   1. Set internal value.
         */
        value(value) {
            this.selected = value;
        },
        /**
         * Update user's v-model and validate again whenever
         * internal value is changed.
         */
        selected(value) {
            this.$emit("input", value);
        },
    },
};
</script>

<style lang="scss" scoped>
.input-tag {
    position: relative;
    display: flex;
}
.tags-container {
    display: flex;
    border-bottom: 0.2rem solid #7b70a5;
    margin-bottom: 0.45rem;
    padding-bottom: 0.5rem;
    padding-left: 0.25rem;
}
.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    text-transform: lowercase;
    padding: 0.25rem 0.75rem;
    margin: 0 0.25rem;
    cursor: pointer;
    & span {
        margin-left: 0.5rem;
    }
}
.dropdown {
    position: absolute;
    top: 100%;
    width: 100%;
    &:focus {
        outline: none;
    }
}
.dropdown-item {
    font-size: 1rem;
    color: white;
    padding: 0.5rem;
}
.input-container {
    display: flex;
    flex-grow: 1;
}
input[type="text"] {
    width: 100%;
}
</style>
