//TODO: Add pagination
<template>
    <section>
        <div v-if="data.length !== 0" class="table-container">
            <table>
                <thead>
                    <tr>
                        <th v-for="column in columns">{{ column.name }}</th>
                    </tr>
                </thead>
                <tbody style="visibility: collapse;">
                    <tr v-for="row in tabledata">
                        <td v-for="cell in row">{{ cell }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="table-wrap">
                <table>
                    <thead style="visibility: collapse;">
                        <tr>
                            <th v-for="column in columns">{{ column.name }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="row in tabledata">
                            <td v-for="cell in row">{{ cell }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div
            v-else
            class="table-container no-content"
        >Ooops no data for this kind of venue in your area :(</div>
        <button v-if="showMoreBtn" @click="showMore">Show more</button>
    </section>
</template>
<script>
export default {
    name: "vtable",
    props: {
        data: {
            type: Array,
            default: () => []
        },
        columns: {
            type: Array,
            default: () => []
        },
        rows: {
            type: Number,
            default: 4
        }
    },
    data() {
        return {
            newRows: this.rows
        };
    },
    methods: {
        showMore: function() {
            let remains = this.data.length;
            -this.tabledata.length;
            let rows = this.newRows;

            if (remains < this.rows) {
                this.newRows = rows + remains;
            } else {
                this.newRows = rows + 4;
            }
        }
    },
    computed: {
        tabledata: function() {
            let returnData;

            if (this.newRows === 0) {
                return this.data;
            } else {
                returnData = this.data.slice(0, this.newRows);
                return returnData;
            }
        },
        showMoreBtn: function() {
            let remains = this.data.length - this.tabledata.length;
            if (remains < this.rows) {
                return false;
            } else {
                return true;
            }
        }
    }
};
</script>

<style lang="scss" scoped>
section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 50%;
}
.table-wrap {
    overflow: overlay;
}
.table-container {
    flex-direction: column;
    max-height: 75%;
}
.no-content {
    text-align: center;
    font-size: 2rem;
    color: white;
    border: 3px solid #c5777a;
    width: auto;
    padding: 1rem 2rem;
}
table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}
th {
    padding: 1% 1%;
    text-align: start;
    position: sticky;
    top: 0;
    &:first-of-type {
        padding-left: 5%;
    }
}
td {
    padding: 1% 1%;
    &:last-of-type {
        text-transform: lowercase;
    }
    &:first-of-type {
        padding-left: 5%;
    }
}
tr:first-of-type {
    & td {
        padding-top: 2%;
    }
}
tr:last-of-type {
    & td {
        padding-bottom: 2%;
    }
}
</style>
