<template>
    <div id="app">
        <h1 class="title">Find your nearest restaurant</h1>
        <div class="container-wrap">
            <section class="controls-container">
                <!--location-->
                <div class="control-wrap">
                    <h3>Your position</h3>
                    <vue-google-autocomplete
                        id="autocomplete"
                        placeholder="Type address"
                        v-on:placechanged="getAddressData"
                    ></vue-google-autocomplete>
                </div>
                <!--Distance-->
                <div class="control-wrap">
                    <h3>Maximum distance</h3>
                    <div class="value-box">{{ radius }} m</div>
                    <div class="radius">
                        <input
                            type="range"
                            min="200"
                            max="2000"
                            v-model="radius"
                            class="slider"
                            id="radius"
                        >
                        <progress min="200" max="2000" :value="radius"></progress>
                    </div>
                </div>
                <!--Categories-->
                <div class="control-wrap">
                    <h3>Categories</h3>
                    <inputtag
                        v-model="categories"
                        placeholder="Choose categories"
                        :options="availableCategories"
                    ></inputtag>
                </div>
            </section>
            <button @click="searchForVenues">Search</button>
        </div>
        <vtable v-show="searched" :data="computedVenues" :columns="columns"></vtable>
    </div>
</template>

<script>
import VueGoogleAutocomplete from "vue-google-autocomplete";
import vtable from "/src/components/vtable.vue";
import inputtag from "/src/components/inputtag.vue";

export default {
    name: "app",
    components: {
        VueGoogleAutocomplete,
        vtable,
        inputtag
    },
    data() {
        return {
            //TODO: Make the data fields match the columns fields
            columns: [
                {
                    name: "Name",
                    field: "name"
                },
                {
                    name: "Address",
                    field: "address"
                },
                {
                    name: "Distance",
                    field: "distance"
                },
                {
                    name: "Category",
                    field: "category"
                }
            ],
            availableCategories: [
                {
                    name: "Food",
                    id: "4d4b7105d754a06374d81259"
                },
                {
                    name: "Beer",
                    id: "56aa371ce4b08b9a8d57356c"
                },
                {
                    name: "Wine",
                    id: "4bf58dd8d48988d123941735"
                }
            ],
            //selected categories
            categories: [],
            radius: 500,
            address: "",
            longitude: "",
            latitude: "",
            venues: "",
            searched: false
        };
    },
    methods: {
        getAddressData(addressData, placeResultData, id) {
            this.address = addressData;
            this.longitude = addressData.longitude;
            this.latitude = addressData.latitude;
        },
        searchForVenues: async function() {
            //TODO: If no cats && no place selected
            let clientID = "";
            let clientSecret =
                "";

            let categoriesString = "";

            for (let item of this.categories) {
                categoriesString = categoriesString + item.id + ",";
            }

            let categories = categoriesString;
            let longitude = this.longitude;
            let latitude = this.latitude;
            let radius = this.radius;

            let coordinates = latitude + "," + longitude;

            try {
                const res = await this.axios.get(
                    `https://api.foursquare.com/v2/venues/search?&categoryId=${categories}&radius=${radius}&ll=${coordinates}&client_id=${clientID}&client_secret=${clientSecret}&v=20180205`
                );
                this.venues = res.data.response.venues;
            } catch (error) {
                console.error(error);
            }
            this.searched = true;
        },
        getCategories: async function() {
            let clientID = "";
            let clientSecret =
                "";
            try {
                const res = await this.axios.get(
                    `https://api.foursquare.com/v2/venues/categories?&client_id=${clientID}&client_secret=${clientSecret}&v=20180205`
                );
                return res.data.response.categories;
            } catch (error) {
                console.error(error);
            }
        }
    },
    mounted: function() {
        //TODO: let user select from categories and subcategories that are returned from API
        //let categories  = this.getCategories();
    },
    computed: {
        computedVenues: function() {
            let venues = this.venues;
            let returnVenues = [];

            for (let venue of venues) {
                let categoryString = "";
                let i = 0;
                for (let category of venue.categories) {
                    if (i === 0) {
                        categoryString = categoryString + category.shortName;
                    } else {
                        categoryString =
                            ", " + categoryString + category.shortName;
                    }
                    i++;
                }

                returnVenues.push({
                    name: venue.name,
                    address:
                        venue.location.address + ", " + venue.location.city,
                    distance: venue.location.distance + " m",
                    categories: categoryString
                });
            }

            return returnVenues;
        }
    }
};
</script>

<style lang="scss">
$header-colour: #c5ade6;
$slider-colour: #b689ef;
$button-border: #9678c2;
$input-border: #7b70a5;
$white-trans: rgba(255, 255, 255, 0.15);

#app,
html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    margin: 0;
    font-family: "Fira Sans", sans-serif;
}
#app {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}
body {
    background: linear-gradient(
        to right,
        #7f7899 0%,
        #625c75 50%,
        #444152 100%
    );
}
h1 {
    font-weight: 300;
    font-size: 3rem;
    // WORKS ONLY IN WEBKIT THO
    background: -webkit-linear-gradient(
        left,
        #b7bdf8 0%,
        #{$slider-colour} 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3,
th {
    font-size: 1.15rem;
    font-weight: 400;
    color: $header-colour;
    margin: 0;
}
button {
    color: white;
    font-size: 1rem;
    border: 2px solid $button-border;
    margin-top: 2rem;
    padding: 1rem 3rem;
    background-color: transparent;
    cursor: pointer;
    &:hover{
      box-shadow: 11px 14px 20px 0px #2e2e2e3d;
    }
}
.container-wrap {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.controls-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.control-wrap {
    min-width: 20%;
    margin: 1rem;
    background-color: rgb(1, 1, 1, 0.075);
    border-radius: 5px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
//
// TEXT INPUT
//
input[type="text"] {
    outline: none;
    background: none;
    border: none;
    border-bottom: 0.2rem solid $input-border;
    margin-bottom: 0.45rem;
    padding-bottom: 0.5rem;

    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;

    &::placeholder {
        color: white;
        font-size: 1.25rem;
        font-weight: 400;
        font-family: "Fira Sans", sans-serif;
    }
}
//
// SLIDER
//
.radius {
    position: relative;

    @mixin thumb {
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background: $slider-colour;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 0px 5px 2px rgba($slider-colour, 0.35);
        }
    }
    @mixin track {
        width: 98%;
        height: 0.25rem;
        color: $slider-colour;
        background-color: $input-border;
        cursor: pointer;
        border-radius: 5px;
        position: absolute;
        top: calc(50% - 0.125rem);
    }

    input[type="range"] {
        width: 90%; /* Specific width is required for Firefox. */
        background: transparent; /* Otherwise white in Chrome */
        border-color: transparent;
        color: transparent;
        -webkit-appearance: none;
        float: right;
        position: relative;
        z-index: 10;

        &:focus {
            outline: none;
        }
        //thumb of slider
        &::-webkit-slider-thumb {
            @include thumb;
            -webkit-appearance: none;
        }
        &::-moz-range-thumb {
            @include thumb;
        }
        &::-ms-thumb {
            @include thumb;
        }
    }
    progress {
        @include track;
        &::-webkit-progress-bar {
            background-color: $input-border;
            border-radius: 5px;
        }
        &::-webkit-progress-value {
            background-color: $slider-colour;
            border-radius: 5px;
        }
        &::-moz-progress-bar {
            background-color: $slider-colour;
            border-radius: 5px;
        }
    }
}
.value-box {
    background: none;
    align-self: center;
    text-align: center;
    color: white;
    font-size: 1rem;
    min-width: 15%;
    padding: 1rem 2rem;
    margin: 2% 0;
    border: 2px solid $button-border;
    border-radius: 5px;
}
//
//GOOGLE STYLING
//
.pac-logo:after {
    display: none !important;
}
.pac-container,
.dropdown {
    background-color: rgb(1, 1, 1, 0.075);
    border: none;
    & .pac-item,
    .dropdown-item {
        color: lightgray;
        border: none;
        &:hover {
            background-color: darken($color: rgb(1, 1, 1, 0.075), $amount: 100);
        }
        & .pac-item-query {
            color: white;
        }
    }
}
//
// ADDITIONAL STYLING OF COMPONENTS
//
.tag {
    background-color: $white-trans;
    & span {
        color: $slider-colour;
    }
}
.table-container {
    width: 70%;
    display: flex;
    justify-content: center;
}
tbody {
    background-color: rgb(1, 1, 1, 0.075);
}
</style>
